/* Header */
header {
	background-color: #133b4c;
	transition: 0.25s ease-in;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
}
.logo {
	display: flex;
	align-items: center;
}
.logo h1 {
	font-weight: 600;
	margin-left: 12px;
}
header a {
	text-decoration: none;
}
header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigations {
	margin-right: 32px;
}
.links,
.navigations {
	display: flex;
	align-items: center;
	justify-content: center;
}
.navigations li a {
	padding: 28px 16px;
	position: relative;
}
.navigations li {
	padding: 28px 0px;
	position: relative;
}
.navigations li a.active::after {
	content: "";
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #40c6ff;
}
.navigations li a.active {
	background: #216380;
}
.links a {
	color: #ffffff;
	text-decoration: none;
}
.nav-btn a {
	display: inline-block;
	border: 2px solid #41c6ff;
	min-width: 200px;
	margin: 0px 14px;
	text-align: center;
	padding: 12px 0px;
	border-radius: 55px;
	transition: all 0.25s ease-in;
}
.nav-btn a:first-child,
.nav-btn a:nth-child(2):hover {
	background: #40c6ff;
}
.nav-btn a:first-child:hover {
	background: transparent;
}

.hamburger {
	display: none;
	cursor: pointer;
	position: relative;
	z-index: 100;
}
.hamburger div {
	height: 3px;
	width: 35px;
	background-color: #ffffff;
	margin: 8px 0;
	transition: all 0.3s ease;
}
/* Header End Here */
@media (max-width: 1070px) {
	.hamburger {
		display: block;
	}
	.links {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 100;
		background: #133b4c;
		width: 100%;
		padding-bottom: 16px;
		padding-left: 16px;
		display: none;
		transition: all 0.25s ease-in;
	}
	.navigations {
		display: block;
	}
	header .container {
		padding: 12px 16px;
		position: relative;
	}
	.navigations li a.active::after {
		content: "";
		display: none;
	}
	.navigations li a.active {
		background: none;
	}
	.navigations li {
		padding: 20px 0px;
		position: relative;
	}
	.nav-btn a {
		display: block;
		width: 200px;
		margin: 16px 0px;
	}
}
@media (max-width: 420px) {
	.logo h1 {
		font-size: 24px;
	}
}
.nav-active {
	display: block;
}
